{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    // Sean's custom rules
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ]
  }
}
