.errorImageOverlay {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImageContainer {
  display: inline-block;
  background-image: url("https://i.imgur.com/lKJiT77.png");
  background-size: cover;
  background-position: center;
  width: 40vh;
  height: 40vh;
}

.errorImageText {
  font-size: 28px;
  color: #6c51a4;
}
